html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer
}

.fl {
    float: left;
}

.nav {
    margin: 20px 0 0 10px;
}

.symbol-item {
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#paved2,#paved1 {
    height: 60px;
    line-height: 60px;
}
.symbol-item .symbol-item-text {
    margin-left: 10px;
    
}

.symbol-item-svg {
    width: 48px;
}

.display-none {
    display: none;
}
.userSelect {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editor-panel {
    position: relative;
    padding: 0;
    display: flex;
    border: 1px solid #808080;
    height: 1000px;
}
.nav-panel {
    flex: 1;
    border-left: 1px solid #808080;
    background: #ececec
}
.drawing-panel {
    flex: 9;
    height: 1000px
}

@media only screen and (max-width: 420px) {
    .nav-panel {
        flex: 2;
    }

    .drawing-panel {
        flex: 8
    }
    .symbol-item-text {
        margin: 0;
    }

}

#svgroot {
    height: 1000px;
    width: 100%;
}

.display-none {
    display:none
}
