html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    width: 100%;
}

#main {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer
}

.fl {
    float: left;
}

.nav {
    margin: 20px 0 0 10px;
}

.symbol-item {
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#paved2,#paved1 {
    height: 60px;
    line-height: 60px;
}
.symbol-item .symbol-item-text {
    margin-left: 10px;
    
}

.symbol-item-svg {
    width: 48px;
}

.display-none {
    display: none;
}
.userSelect {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editor-panel {
    position: relative;
    padding: 0;
    /*display: flex;*/
    border: 1px solid #808080;
    /*height: auto;*/
    height: 100%;
}
.nav-panel {
    /*flex: 1;*/
    float: left;
    width: 10%;
    border-left: 1px solid #808080;
    background: #ececec;
    height: 100%;
}
.nav-panel-content{
    margin:7px;
}
.drawing-panel {
    /*flex: 9;*/
    float: left;
    width: 90%;
    /*height: auto*/
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .nav-panel {
        width: 20%;
    }

    .nav-panel-content {
        margin: 0px;
    }

    .drawing-panel {
        width: 80%
    }
    .symbol-item-text {
        margin: 0;
    }

}

#svgroot {
    height: 100%;
    width: 100%;
}

.display-none {
    display:none
}
